.accordion details {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-sm);
  margin-bottom: var(--gap-sm);
}

.accordion details:last-child {
  margin-bottom: 0;
}

.accordion summary {
  position: relative;
  cursor: pointer;
  list-style: none;
  padding: var(--gap-sm) var(--gap-xl) var(--gap-sm) var(--gap-sm);
  background-color: var(--background-color);
}

.accordion summary::-webkit-details-marker {
  display: none;
}

.accordion summary::after {
  content: '';
  position: absolute;
  top: 50%;
  right: var(--gap-xs);
  width: 8px;
  height: 8px;
  border: 2px solid;
  border-width: 0 2px 2px 0;
  transform: translateY(-65%) rotate(45deg);
  transition: transform 0.2s;
}

.accordion details[open] summary {
  background-color: var(--light-color);
}

.accordion details[open] summary::after {
  transform: translateY(-35%) rotate(-135deg);
}

.accordion .accordion-item-body {
  padding: var(--gap-sm);
}

.accordion details[open] .accordion-item-body {
  border-top: 1px solid var(--border-color);
}