.countdown .countdown-label {
  margin-bottom: var(--gap-sm);
  font-weight: bold;
}

.countdown .countdown-timer {
  display: flex;
  gap: var(--gap-md);
}

.countdown .countdown-segment {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countdown .countdown-value {
  font-size: var(--heading-font-size-xxl);
}

.countdown .countdown-unit {
  font-size: var(--body-font-size-xs);
}

.countdown .countdown-ended {
  font-size: var(--body-font-size-m);
  color: var(--text-color);
  font-weight: bold;
  text-align: center;
}
